@media (min-width: 576px) { 
    nav{
        height: 5rem;
    } 
    nav .logo .icon{
        width: 2.75rem;
        height: 2.75rem;
    }
    nav h1{
        font-size: var(--text-2xl);
    }
    nav p{
        font-size: var(--text-xs);
    }
    nav .btn-add-contact{
        padding: 0.625rem 1.25rem;
    }
    nav .header__user-avatar{
        width: 2.5rem;
        height: 2.5rem;
    }

    section .statistics-grid .stat-card{
        padding: 1.25rem;
    }

}
