:root {
    --color-amber-50: oklch(98.7% 0.022 95.277);
    --color-amber-100: oklch(96.2% 0.059 95.617);
    --color-amber-400: oklch(82.8% 0.189 84.429);
    --color-amber-500: oklch(76.9% 0.188 70.08);
    --color-amber-700: oklch(55.5% 0.163 48.998);
    --color-orange-50: oklch(98% 0.016 73.684);
    --color-orange-500: oklch(70.5% 0.213 47.604);
    --color-red-50: oklch(96.9% 0.015 12.422);
    --color-red-600: oklch(57.7% 0.245 27.325);
    --color-rose-50: oklch(96.9% 0.015 12.422);
    --color-rose-100: oklch(94.1% .03 12.58);
    --color-rose-500: oklch(64.5% 0.246 16.439);
    --color-rose-600: oklch(58.6% 0.253 17.585);
    --color-green-100: oklch(96.2% 0.044 156.743);
    --color-green-700: oklch(52.7% 0.154 150.069);
    --color-emerald-50: oklch(97.9% 0.021 166.113);
    --color-emerald-100: oklch(95% 0.052 163.051);
    --color-emerald-500: oklch(69.6% 0.17 162.48);
    --color-emerald-600: oklch(59.6% 0.145 163.225);
    --color-cyan-500: oklch(71.5% 0.143 215.221);
    --color-blue-100: oklch(93.2% 0.032 255.585);
    --color-blue-400: oklch(70.7% 0.165 254.624);
    --color-blue-500: oklch(62.3% 0.214 259.815);
    --color-blue-600: oklch(54.6% 0.245 262.881);
    --color-blue-700: oklch(48.8% 0.243 264.376);
    --color-indigo-50: oklch(96.2% 0.018 272.314);
    --color-indigo-600: oklch(51.1% 0.262 276.966);
    --color-violet-50: oklch(96.9% 0.016 293.756);
    --color-violet-100: oklch(94.3% 0.029 294.588);
    --color-violet-200: oklch(89.4% 0.057 293.283);
    --color-violet-500: oklch(60.6% 0.25 292.717);
    --color-violet-600: oklch(54.1% 0.281 293.009);
    --color-purple-100: oklch(94.6% 0.033 307.174);
    --color-purple-700: oklch(49.6% 0.265 301.924);
    --color-gray-50: oklch(98.5% 0.002 247.839);
    --color-gray-100: oklch(96.7% 0.003 264.542);
    --color-gray-200: oklch(92.8% 0.006 264.531);
    --color-gray-300: oklch(87.2% 0.01 258.338);
    --color-gray-400: oklch(70.7% 0.022 261.325);
    --color-gray-500: oklch(55.1% 0.027 264.364);
    --color-gray-600: oklch(44.6% 0.03 256.802);
    --color-gray-700: oklch(37.3% 0.034 259.733);
    --color-gray-900: oklch(21% 0.034 264.665);
    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-lg: 1.125rem;
    --text-xl: 1.25rem;
    --text-2xl: 1.5rem;
    --text-3xl: 1.875rem;
    --radius-md: 0.375rem;
    --radius-lg: 0.5rem;
    --radius-xl: 0.75rem;
    --radius-2xl: 1rem;
    --blur-sm: 8px;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #f8fafc;
}


nav{
    background-color: rgba(255 255 255 0.7);
    border: 1px solid var(--color-gray-100);
    height: 4rem;
}

nav .logo .icon{
    width: 2.5rem;
    height: 2.5rem;
    background-image: linear-gradient(to bottom right , var(--color-violet-600) , var(--color-indigo-600));
    font-size: var(--text-lg);
    border-radius: var(--radius-xl);
    box-shadow: 0 0 20px color-mix(in oklch, var(--color-violet-500) 25%, transparent);
}

nav h1{
    font-size: var(--text-xl);
    color: var(--color-gray-900);
}
nav h1 span{
    color: var(--color-violet-600);
}
nav p{
    font-size: 10px;
    color: var(--color-gray-500);
}

nav .btn-add-contact{
    padding: 0.525rem 0.825rem;
    background-image: linear-gradient(to right , var(--color-violet-600) , var(--color-indigo-600));
    border-radius: var(--radius-xl);
    transition: all .2s;
}

nav .btn-add-contact:hover{
    box-shadow: 0 0 20px color-mix(in oklch, var(--color-violet-500) 30%, transparent);
    transform: translateY(-2px);
}
nav .btn-icon{
    width: 3.5rem;
    height: 3.5rem;
    background-color: transparent;
    color: var(--color-gray-500);
    transition: all .2s;
    border-radius: var(--radius-xl);
}
nav .btn-icon:hover{
    color: var(--color-gray-700);
    background-color: var(--color-gray-100);
}

nav .header__user-avatar{
    width: 2.25rem;
    height: 2.25rem;
    border-radius: var(--radius-xl);
    overflow: hidden;
    border: 2px solid var(--color-gray-100);
}

section .statistics-grid .stat-card{
    border-radius: var(--radius-2xl);
    padding: 1rem;
    border: 1px solid var(--color-gray-100);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    transition: all .2s;
}
section .statistics-grid .stat-card:hover{
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

section .statistics-grid .stat-card__icon{
    width: 2.75rem;
    height: 2.75rem;
    border-radius: var(--radius-xl);
    background-image: linear-gradient(to bottom right , var(--color-blue-500) , var(--color-blue-600));
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    font-size: var(--text-sm);
}
section .statistics-grid .stat-card__content p:first-child{
    font-size: 11px;
    color: var(--color-gray-500);
}
section .statistics-grid .stat-card__content p:last-child{
    font-size: var(--text-xl);
    color: var(--color-gray-900);
}

section .statistics-grid .stat-card__icon--favorites{
    background-image: linear-gradient(to bottom right , var(--color-amber-400) , var(--color-orange-500));
}
section .statistics-grid .stat-card__icon--emergency{
    background-image: linear-gradient(to bottom right , var(--color-rose-500) , var(--color-red-600));
}

section .contacts-section .contacts-section__header h2{
    font-size: var(--text-2xl);
    color: var(--color-gray-900);
}
section .contacts-section .contacts-section__header p{
    font-size: var(--text-sm);
    color: var(--color-gray-500);
}
section .contacts-section .search-bar .search-bar__icon{
    padding-left: 1rem;
    color: var(--color-gray-400);
}

section .contacts-section .search-bar input{
    padding-left: 2.75rem;
    padding-right: 0.875rem;
    padding-block: 1rem;
    border: 1px solid var(--color-gray-200);
    border-radius: var(--radius-xl);
    transition: all .2s;
    color: var(--color-gray-700);
    font-size: var(--text-sm);
}
section .contacts-section .search-bar input:focus{
    outline: none;
    border: 1px solid var(--color-violet-500);
    box-shadow: 0 0 20px var(--color-violet-200);
}
section .contacts-section .search-bar input::placeholder{
    color: var(--color-gray-400);
}
section .sidebar .sidebar__widget{
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    border-radius: var(--radius-2xl)
}
section .sidebar .card{
    border: 1px solid var(--color-gray-100) !important;
    border-radius: var(--radius-2xl) !important;
    
}
section .sidebar .card-header{
    padding: 1rem 1.25rem;
    border: 1px solid var(--color-gray-100) !important;
    background-image: linear-gradient(to right , var(--color-amber-50) , var(--color-orange-50));

}
section .sidebar .card-header .sidebar__icon{
    width: 2.25rem;
    height: 2.25rem;
    background-image: linear-gradient(to bottom right , var(--color-amber-500) , var(--color-orange-500));
    border-radius: var(--radius-lg);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    font-size: var(--text-sm);
}
section .sidebar .card-header h2{
    font-size: var(--text-base);
    color: var(--color-gray-900);
}
section .sidebar .card-header p{
    font-size: 11px;
    color: var(--color-gray-500);
}

section .sidebar .sidebar__card--emergency .card-header{
    background-image: linear-gradient(to right , var(--color-rose-50) , var(--color-red-50));
}
section .sidebar .sidebar__card--emergency .card-header .sidebar__icon{
    background-image: linear-gradient(to bottom right , var(--color-rose-500) , var(--color-red-600));
}

.modal{
    background-color: rgba(109, 114, 125, 0.2)
;
    backdrop-filter: blur(var(--blur-sm)) ;
}

.modal .modal-dialog{
    padding: 1rem;
}

.modal .modal-content{
    border-radius: var(--radius-2xl);
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    padding: .5rem;
    
}

.modal .modal-content .modal-body{
    scrollbar-width: none;
}

.modal-body #avatarPreview{
    width: 6rem;
    height: 6rem;
    background-image: linear-gradient(to bottom right , var(--color-blue-400) , var(--color-blue-600));
    font-size: var(--text-3xl);
    box-shadow: 0 0 10px var(--color-violet-200);
}

.modal-body form label{
    font-size: var(--text-sm);
    color: var(--color-gray-700);
}

.modal-body form input,
.modal-body form select,
.modal-body form textarea{
    padding: .75rem 1rem;
    background-color: var(--color-gray-50);
    border: 1px solid var(--color-gray-200);
    border-radius: var(--radius-xl);
    transition: all .2s;
    font-size: var(--text-sm);
    resize: none;
}

.modal-body form input.not-valid{
    border: 1px solid var(--color-rose-500);
}

.modal-body form p{
    font-size: var(--text-xs);
    color: var(--color-rose-500);
}

.modal-body form input:focus,
.modal-body form select:focus,
.modal-body form textarea:focus{
    outline: none;
    border: 1px solid var(--color-violet-500);
    box-shadow: 0 0 20px var(--color-violet-200);
}


.modal-body .avatar{
    padding: .5rem 1rem;
    background-color: var(--color-gray-100);
    transition:  all .2s;
    border-radius: var(--radius-lg);
    font-size: var(--text-sm);
    color: var(--color-gray-700);
    cursor: pointer;
}
.modal-body .avatar:hover{
    background-color: var(--color-gray-200);
}

.modal-body .avatar i{
    color: var(--color-gray-500);
}

.modal-body form .form-check input{
    padding: 0;
    width: 1.25rem;
    height: 1.25rem;
    border: 1px solid var(--color-gray-300);
    box-shadow:none;
}
.modal-body form .form-check:hover label{
    color: var(--color-gray-900);
}

.modal-body form .form-check .fa-star{
    color: var(--color-amber-400);
}
.modal-body form .form-check .fa-heart-pulse{
    color: var(--color-rose-500);
}

.modal-body form button.cancel{
    padding: .75rem 1rem;
    background-color: var(--color-gray-100);
    color: var(--color-gray-700);
    border-radius: var(--radius-xl);
    transition: all .2s;
    font-size: var(--text-sm);
}
.modal-body form button.cancel:hover{
    background-color: var(--color-gray-200);
}
.modal-body form button.save{
    padding: .75rem 1rem;
    border-radius: var(--radius-xl);
    transition: all .2s;
    background-image: linear-gradient(to right , var(--color-violet-600) , var(--color-indigo-600));
    font-size: var(--text-sm);
}
.modal-body form button.save:hover{
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.all-contacts .card{
    border: 1px solid var(--color-gray-100);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    transition: all .2s;
    overflow: hidden;
    border-radius: var(--radius-2xl);
}
.all-contacts .card:hover{
    border: 1px solid var(--color-gray-200);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.all-contacts .card .card-body{
    padding: 1rem;
    padding-bottom: 0.75rem;
}

.all-contacts .section-icon{
    width: 3.5rem;
    height: 3.5rem;
    font-size: var(--text-lg);
    border-radius: var(--radius-xl);
    background-image: linear-gradient(to bottom right , var(--color-cyan-500) , var(--color-blue-600));
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}
.all-contacts .em-icon{
    width: 1.25rem;
    height: 1.25rem;
    right: -0.125rem;
    bottom: -0.125rem;
    background-color: var(--color-rose-500);
    font-size: 6px;
    border: 2px solid white;
}
.all-contacts .fav-icon{
    width: 1.25rem;
    height: 1.25rem;
    right: -0.125rem;
    top: -0.125rem;
    background-color: var(--color-amber-500);
    font-size: 6px;
    border: 2px solid white;
}
.all-contacts .card .card-body h3{
    color: var(--color-gray-900);
    font-size: var(--text-base);
}

.contact-phone .icon,
.contact-email .icon,
.contact-address .icon{
    width: 1.5rem;
    height: 1.5rem;
    color: var(--color-blue-600);
    background-color: var(--color-blue-100);
    font-size: 9px;
    border-radius: var(--radius-md);
}
.contact-phone span{
    color: var(--color-gray-500);
    font-size: var(--text-sm);
}
.contact-email span,
.contact-address span{
    color: var(--color-gray-600);
    font-size: var(--text-sm);
}
.contact-email .icon{
    color: var(--color-violet-600);
    background-color: var(--color-violet-100);
}
.contact-address .icon{
    color: var(--color-emerald-600);
    background-color: var(--color-emerald-100);
}

.card-badge{
    padding: .25rem .5rem;
    background-color: var(--color-blue-100);
    color: var(--color-blue-700);
    text-transform: capitalize;
    border-radius: var(--radius-md);
    font-size: 11px;
}

.work-badge{
    background-color: var(--color-purple-100);
    color: var(--color-purple-700);
}
.friends-badge{
    background-color: var(--color-green-100);
    color: var(--color-green-700);
}
.school-badge{
    background-color: var(--color-amber-100);
    color: var(--color-amber-700);
}
.other-badge{
    background-color: var(--color-gray-100);
    color: var(--color-gray-700);
}
.em-badge{
    background-color: var(--color-rose-50);
    color: var(--color-rose-600);
}
.em-badge i{
    font-size: 10px;
}

.all-contacts .card-footer{
    border-top: 1px solid var(--color-gray-100);
    padding: .75rem 0.625rem;

}
.all-contacts .card-footer .f-contact a{
    width: 2.25rem;
    height: 2.25rem;
    border-radius: var(--radius-lg);
    transition: all .2s;
    text-decoration: none;
    font-size: var(--text-sm);
}
.f-contact-phone{
    color: var(--color-emerald-600);
    background-color: var(--color-emerald-50);
}
.f-contact-phone:hover{    
    background-color: var(--color-emerald-100);
}
.f-contact-email{
    color: var(--color-violet-600);
    background-color: var(--color-violet-50);
}
.f-contact-email:hover{    
    background-color: var(--color-violet-100);
}
.all-contacts .card-footer .f-control div{
    width: 2.25rem;
    height: 2.25rem;
    border-radius: var(--radius-lg);
    transition: all .2s;
    font-size: var(--text-sm);
}

.f-control-fav{
    color: var(--color-gray-400);
    background-color: var(--color-gray-50);
}
.f-control-fav:hover{
    color: var(--color-amber-400);
    background-color: var(--color-gray-100);
}
.f-control-fav-clk{
    color: var(--color-amber-500);
    background-color: var(--color-amber-50);
}
.f-control-fav-clk:hover{
    background-color: var(--color-amber-100);
}

.f-control-em{
    color: var(--color-gray-400);
    background-color: var(--color-gray-50);
}
.f-control-em:hover{
    color: var(--color-rose-500);
    background-color: var(--color-gray-100);
}
.f-control-em-clk{
    color: var(--color-rose-500);
    background-color: var(--color-rose-50);
}
.f-control-em-clk:hover{
    background-color: var(--color-rose-100);
}

.f-control-update{
    color: var(--color-gray-500);
    background-color: var(--color-gray-50);
}
.f-control-update:hover{
    color: var(--color-indigo-600);
    background-color: var(--color-indigo-50);
}

.f-control-del{
    color: var(--color-gray-500);
    background-color: var(--color-gray-50);
}
.f-control-del:hover{
    color: var(--color-rose-600);
    background-color: var(--color-rose-50);
}

.sidebar .list-group-item{
    padding: .625rem;
    background-color: var(--color-gray-50);
    transition: all .2s;
    border-radius: var(--radius-xl);
    cursor: pointer;
}
.sidebar .list-group-item:hover{
    background-color: var(--color-amber-50);
}
.sidebar .list-group{
    padding-block: 0.75rem;
}
.sidebar .list-group-item .icon{
    width: 2.5em;
    height: 2.5em;
    font-size: var(--text-sm);
    border-radius: var(--radius-lg);
    background-image: linear-gradient(to bottom right , var(--color-cyan-500) , var(--color-blue-600));
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}
.sidebar .list-group-item h4{
    color: var(--color-gray-900);
    font-size: var(--text-sm);
}
.sidebar .list-group-item p{
    color: var(--color-gray-500);
    font-size: var(--text-xs);
}
.sidebar .list-group-item a{
    width: 2rem;
    height: 2rem;
    border-radius: var(--radius-lg);
    transition: all .2s;
    text-decoration: none;
    font-size: var(--text-sm);
}
.sidebar .list-group-item:hover a{
    background-color: var(--color-emerald-500);
    color: white;
}

.sidebar .sidebar__widget--emergency .list-group-item:hover{
    background-color: var(--color-rose-50);
}
.sidebar .sidebar__widget--emergency .list-group-item a{
    background-color: var(--color-rose-50);
    color: var(--color-rose-600);
}
.sidebar .sidebar__widget--emergency .list-group-item:hover a{
    background-color: var(--color-rose-500);
    color: white;
}
.sidebar .empty{
    padding-block: 2rem;
    color: var(--color-gray-400);
    font-size: var(--text-sm);
}

.empty-state{
    padding-block: 5rem;
}
.empty-state .icon{
    width: 5rem;
    height: 5rem;
    background-color: var(--color-gray-100);
    font-size: var(--text-3xl);
    color: var(--color-gray-300);
    border-radius: var(--radius-xl);
}
.empty-state p:nth-child(2){
    color: var(--color-gray-500);
}
.empty-state p:last-child{
    color: var(--color-gray-400);
    font-size: var(--text-sm);
}